.DS_Store
__pycache__
.vscode
venv
venv3.11
data/*
!data
!data/.gitignore
summarize/logs/*
!summarize/logs/.gitignore
summarize/workspaces/*
!summarize/workspaces/.gitignore
summarize/summaries/*
!summarize/summaries/.gitignore
summarize/prompts/*
!summarize/prompts/.gitignore
hf
zia
hf-linux-amd64
.google-credentials.json
onprem/*
*.zip
*.gz
aws/*
ic/*
.env
output.txt
!.git/hooks/pre-commit

