.DS_Store
__pycache__
.vscode
venv
sm
data/*
!data
!data/.gitignore
data/html/*
!data/html
!data/html/.gitignore
data/timesheets/*
!data/timesheets
!data/timesheets/.gitignore
summarize/logs/*
!summarize/logs/.gitignore
summarize/workspaces/*
!summarize/workspaces/.gitignore
summarize/summaries/*
!summarize/summaries/.gitignore
summarize/prompts/*
!summarize/prompts/.gitignore
hf
zia
hf-linux-amd64
*google-credentials.json
*.google-credentials.json
credentials.json
.credentials.json
*token.json
*.token.json
onprem/*
*.zip
*.gz
aws/*
ic/*
.env
output.txt
!.git/hooks/pre-commit

