[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anyio="*"
asyncclick="*"
autopep8 = "*"
beautifulsoup4 = "*"
click = "*"
dataclasses-json = "*"
datasets = "*"
deepgram-sdk="*"
dframcy = "*"
git-pylint-commit-hook = "*"
google-cloud-dialogflow-cx = "1.18.0"
google-cloud-translate = "2.0.1"
googletrans = "3.1.0a0"
humanfirst = "*"
kaggle = "*"
kaleido="*"
lxml = "*"
mediawikiapi = "*"
mistralai = "*"
nltk = "*"
numpy = "*"
openai="*"
openpyxl="*"
pandas = "*"
plantweb = "*"
plotly="*"
presidio-analyzer = "*"
presidio-anonymizer = "*"
pylint = "*"
pytest = "*"
ratelimit = "*"
requests = "*"
requests-toolbelt = "*"
scikit-learn = "*"
seaborn = "*"
spacy = "*"
spacy_langdetect="*"
tdqm="*"
tensorflow-hub="*"
tensorflow="2.16.1"
tiktoken="*"
tqdm = "*"
transformers="*"

[dev-packages]

[requires]
python_version = "3.11"
