[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
git-pylint-commit-hook = "*"
numpy = "*"
pandas = "*"
click = "*"
requests = "*"
requests-toolbelt = "*"
autopep8 = "*"
dataclasses-json = "*"
transformers="*"
tensorflow="*"
tensorflow-hub="*"
datasets = "*"
nltk = "*"
spacy = "*"
kaggle = "*"
presidio-analyzer = "*"
presidio-anonymizer = "*"
google-cloud-translate = "2.0.1"
dframcy = "*"
tqdm = "*"
seaborn = "*"
lxml = "*"
pytest = "*"
mediawikiapi = "*"
beautifulsoup4 = "*"
scikit-learn = "*"
google-cloud-dialogflow-cx = "1.18.0"
ratelimit = "*"
plotly="*"
kaleido="*"
openai="*"
tiktoken="*"
tdqm="*"

[dev-packages]

[requires]
python_version = "3.8"
